* {
  padding: 0;
  margin: 0;
}
body {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/*Calculator Body*/
.calc-body {
  width: 290px;
  margin: auto;
  min-height: 400px;
  box-shadow: 0 8px 50px -7px black;
  background: #3a4655;
  border-radius: 7px;
  overflow: hidden;
}
/*Calculator Display Screen*/
.calc-screen {
  padding: 1rem;
  background-color: #232a33;
}

#calc-operation {
  font-size: 1.3rem;
  text-align: right;
  color: #727b86;
  padding-bottom: 0.5rem;
}
#calc-typed {
  font-size: 2rem;
  text-align: right;
  color: #fff;
}
/*Calculator Buttons*/
.calc-button-row {
  display: table;
}
.calc-button-row button {
  display: table-cell;
  width: 25%;
  background: #425062;
  color: #fff;
  height: 65px;
  font-size: 1.3rem;
  border: none;
  border-color: #3c4857;
  border-width: 1px 1px 0px 0;
  border-style: solid;
}
.calc-button-row button.ac {
  color: #ff7665;
}
.calc-button-row button.opt {
  color: #ffbc56;
}
/*The border has been managed in every fourth button so that the design will not distract.*/
.calc-button-row button:nth-child(4n) {
  border-right: none;
}
.calc-button-row button:active {
  position: relative;
  top: 1px;
}
.calc-button-row button:hover {
  background: #3e4b5c;
}
/* ==MEDIA QUERY== */
@media screen and (max-width: 767px) {
}
